# Store password for the keystore file
storePassword=MissyLynn25

# Key password for the release key
keyPassword=MissyLynn25

# Key alias for the release key
keyAlias=release-key

# Path to the keystore file
storeFile=app/release-key.jks
